<div class="landing-page">
  <h1>Log In</h1>
  <form class="login-form">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted">We'll never share your
        email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>

    <div class="submit-btn">
      <button
        type="submit"
        id="get-started-btn"
        class="btn btn-primary"
      >Submit</button>
    </div>

  </form>
</div>

<script src="./js/login.js"></script>